
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}
<thead>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

  <title>Localização</title>

  <style>
    .address {
      width: 300px;
    }

    .fixed-width {
      font-family: monospace;
    }

    .bold {
      font-weight: bold;
    }
  </style>

  <!-- needed for JS/GoogleMaps lookup -->
</thead>
<body>

  {% if not google_api_key_set %}
    
  {% else %}
    <h1>Envie sua Localização</h1>
    <form action="" method="post">
      {% csrf_token %}
      {% crispy form %}
    </form>
    {% if success %}
    {% endif %}
  {% endif %}
</body>
</html>
