{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <thead>
    <title>Casa da Neidy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
    </style>
  </head>
<tbody>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="{% url 'login' %}" onclick="w3_close()" class="w3-bar-item w3-button">Login</a>
  <a href="{% url 'admin:index' %}" onclick="w3_close()" class="w3-bar-item w3-button">Adminstrador</a>
  <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button">Principal</a>
  <a href="{% url 'usuarios:editar_perfil' %}" onclick="w3_close()" class="w3-bar-item w3-button">Criar Perfil</a>
  <a href="{% url 'usuarios:perfil_usuario' %}" onclick="w3_close()" class="w3-bar-item w3-button">Ver Perfil</a>
  <a href="{% url 'person:home_map' %}" onclick="w3_close()" class="w3-bar-item w3-button">Dados do Cliente</a>
  <a href="{% url 'blog_home' %}" onclick="w3_close()" class="w3-bar-item w3-button">BLOG</a>
  <a href="{% url 'listar' %}" onclick="w3_close()" class="w3-bar-item w3-button">Lista de Produtos</a>
  <a href="{% url 'auth_logout' %}" onclick="w3_close()" class="w3-bar-item w3-button">Sair</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-center w3-padding-16"><img src="media/casa.png" alt="Casa da Neidy" style="width:180px;height:140px"></div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding w3-center" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->


  
  <hr id="about">

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">  
    <h3>Realize seu cadastro e envie sua localização.</h3><br>
  </div>
     {{ form.media }}
     {% if not google_api_key_set %}
  {% else %}
        <div class="w3-row-padding w3-padding-16 w3-center">
          <label name="color" value="dark">
               <li>
                <font style="vertical-align: inherit;">
                  <form action="" method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
              {% crispy form %}</font>
              <input type="hidden" name="next" value="{% url 'home' %}" />
            </li>      
          </form>
          </label>
        </div>
      
  </div>


    {% if success %}
    {% endif %}
    <div class="w3-row-padding w3-padding-16 w3-center">
    <p>Total de endereços salvos: {{ addresses.count }}</p>
  </div>
  {% endif %} 
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-62 w3-center">
    <div class="w3-third" style="width:90%">
      <h8 style="text-align:center"><font size="6">Olá ! {{ user.get_full_name }}</font></h8>
      <p  style="text-align:center font-family:verdana"><font size="5" color="#ff0000"><b>Obrigado por enviar seu cadastro</b></font>
    </div>
  
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</tbody>
</html>
