<div class="container my-0 ">
    <div class="row ">
      
        

       

    </div>
<div class="row ">
        <div class="col-lg-12 ">
            <!--Heading animation-->
                <h1 style="padding: 0px; margin:0px;" class="display-2 text-primary text-center" >

                    <i class="fa-1x  fa-solid fa-home " 
                    style="color: rgb(228, 155, 186);"></i>
                            
                    tatiHut
                    
                </h1>
              
                
                    <p class="pt-3 display-4 text-dark text-uppercase text-center" style="font-size:30px ;">(We connect customer with local craftsman.)</p>
                
           
            
           <br><br>
           <hr style="color: rgb(52, 47, 47); margin:0; padding:0; width: 100%;">

            <marquee behavior="alter" direction="right" scrollamount="13">
                <i class="fa-3x fa-solid fa-light fa-truck-fast"></i>
                <p class="lead text-uppercase text-primary" style="font-size:x-large; font-weight: 400;">We Serve 100% qualityful products.</p>
            </marquee>
            
          
           
        </div>
    </div>